server:
  port: 8090
  host: "0.0.0.0"
  public_url: "http://api.xiaomao.chat:8090"
auth:
  admin_token: "change-me"
  feishu_client_id: ""
  feishu_client_secret: ""
  session_ttl_hours: 168
database:
  url: "postgresql://postgres:xxx@trolley.proxy.rlwy.net:28177/railway"
lxd:
  ssh_target: "local"
  template: "tpl-openclaw"
  network: "jaconet"
  openclaw_port: 18789
llm:
  proxy_url: "http://67.230.171.248:8317"
  proxy_key: "change-me"
chat_agent:
  url: "http://127.0.0.1:18790"
  token: ""
